@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    background-color: rgb(51, 46, 40);
    color: whitesmoke;
    text-decoration: none;
    border: none;

}
.logo{
    width: 5rem;
    border-radius: 2.5rem;
    margin-left: 3rem;
    margin-top: 1rem;
    
}
.navigation{
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
}
.nav{
    margin: 1rem;
}
.my-information{
    display: flex;
    flex-direction: row;
    margin: 3rem;
    justify-content: space-evenly;
}
.my-photo{
    width: 22rem;
    border-radius: 3rem;
    
}

.my-info h1{
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
}
.my-info p{
    margin-right: 5rem ;
    font-size: 1.5rem;
    text-align: justify;
    
}
.about-me{
    
    margin: 3rem;
    
}
.about-me h2{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    
    margin: 1rem;
    padding-right: auto;
   
}
.my-discription{
    margin: 2px;
    display: flex;
    flex-direction: column;
    padding: auto;
}
.my-discription p{
    margin: 1rem;
    font-size: 1.5rem;
    text-align: justify;
    padding: auto;
}
.portfolio{
    display: flex;
    margin:1rem 3rem;
    flex-direction: column;
}
.portfolio h3{
    font-size: 2rem;
    padding-top: 1rem;
    font-family: 'Lato', sans-serif;


}
.my-works{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}
.arts{
    margin-left: 3rem;
}
.design{
    margin-left: 7rem;
}
.my-arts{
    width: 18rem;
    border-radius: 1rem;
    margin: 0.5rem;
}
.my-designs{
    width: 18rem;
    margin: 1rem;
    border-radius: 1rem;
}
.what-iprovide{
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;

}
.service-title{
    margin-top: 5rem;
}
.service-title h2{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;

}
.service-title p{
    font-size: 1.5rem;
    padding-right: 3rem;
}
.service-discreption h3{
    font-size: 1.9rem;
    font-family: 'Lato', sans-serif;

    margin: 0.3rem;
}
.service-discreption p{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.3rem;
}
.for-more-info{
    display: flex;
    justify-content: space-evenly;
}
.contact h2{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;

}
.contact p{
    font-size: 1.5rem;
}
.your-info{
    font-size: 1.5rem;
}
#name, #email{
    width: 15rem;
    height: 2rem;
    border-bottom: 1px solid whitesmoke;
}
#message{
    border-bottom: 1px solid whitesmoke;
}
#submit{
    margin:0.5rem 5rem;
    background-color: white;
    
    color: black;
    font-size: 1rem;
    border-radius: 0.5rem;

}
#footer{
    margin: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
}


/*responsive starts*/
@media screen and (min-width: 1882px) {
    .my-info h1{
        font-size: 5rem;
    }
    .nav{
        font-size: 2rem;
    }
    .my-photo{
        width: 30rem;
    }
    .my-info p{
        font-size: 2rem;
    }
    .my-discription p{
        font-size: 2rem;

    }
    .my-arts, .my-designs{
        width: 27rem;
    }
    .about-me h2{
        font-size: 4rem;
    }
    .portfolio h3{
        font-size: 3.5rem;
    }
    .service-discreption p{
        font-size: 2rem;

    }
    .service-title p{
        font-size: 2rem;

    }
    .service-discreption h3{
        font-size: 3.5rem;

    }
    .service-title h2{
        font-size: 3.5rem;
        
    }
    .contact h2{
        font-size: 4rem;
    }
    .contact p{
        font-size: 2rem;
        
    }
    .your-info{
        font-size: 2rem;
    }
    #footer p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1655px) {
    .my-designs, .my-arts{
        width: 14rem;
    } 
}
@media screen and (max-width: 1281px) {
    .my-discription{
        flex-direction: column;
        align-items: center;
    }
    .my-discription p{
        margin: 0.5rem;
    }
    .my-designs, .my-arts{
        width: 10rem;
    }
    .my-photo{
        margin-top: 7rem;
    }

}

@media screen and (max-width: 1332px){
    .my-photo{
        width:20rem;
        height: 20rem;
        border-radius: 5rem;
        margin-top: 4rem;
    }
    .my-arts, .my-designs{
        width: 12rem;
    }
    .service-title{
        margin-top: 7rem;
    }
}
@media screen and (max-width:1231px){
    .my-arts, .my-designs{
        width: 11rem;
    }
}
@media screen and (max-width: 1151px){
    .my-arts, .my-designs{
        width: 9rem;
    }
    
}
@media screen and (max-width: 903px) {
    .my-info h1{
        font-size: 3rem;
    }
    .my-info p{
        font-size: 1.2rem;

    }
    .my-photo{
        width: 15rem;
        height: 15rem;
    }
    .my-discription p{
        font-size: 1.2rem;
    }
    .portfolio h3{
        font-size: 2rem;
        padding-top: 1rem;
    }
    .my-arts, .my-designs{
        width: 7rem;
    }
     .service-title p{
        font-size: 1.2rem;
    }
    .service-discreption p{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 827px) {
    .my-information{
        flex-direction: column-reverse;
    }
    .my-info p{
        
        margin: 0.5rem 0;
    }
    .my-photo{
        width: 12rem;
        height: 12rem;
        margin-top: 0.1rem;
    }
    .my-arts, .my-designs{
        width: 6rem;
    }
    .what-iprovide{
        flex-direction: column;
        
    }
    .service-title{
        margin-top: 1rem;
    }
}
@media screen and (max-width: 670px) {
    .my-info p{
        font-size: 1.1rem;

    }
    .my-discription{
        font-size: 1.1rem;

    }
    .arts{
        margin-left: 1rem;
    }
    .my-arts{
        width: 4.5rem;
    }
    .my-designs{
        width: 5.5rem;
        margin-left: 0.3rem;
    }
    .design{
        margin-left: 0.5rem;
    }
    .service-title p{
        font-size: 1.1rem;
        padding: 0;

    }
    .service-discreption p{
        font-size: 1.1rem;
        padding: 0;

    }
    .for-more-info{
        flex-direction: column;
        margin-left: 3rem;
    }
    .contact{
        margin: 0.2rem;
    }
    .contact p{
        font-size: 1.1rem;

    }
    .your-info{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 587px) {

    .navigation{
        display: flex;
        flex-direction: column;
        margin-right: 1rem;
        margin-top: 1rem;
    }
    .nav{
        margin: 1px;
    }
    .portfolio h3{
        font-size: 1.8rem;
    }
    .my-works{
        margin-left: 0rem;
    }
    .arts, .design{
        margin-right: 0rem;
    }

}
@media screen and (max-width: 416px) {
    .my-info h1{
        font-size: 2.5rem;
    }
    .my-photo{
        width: 7rem;
        height: 7rem;
    }
    .about-me{
        margin-top: 1rem;
    }
    
}
/*Responsive ends*/
